<label>Name</label>
<input type="text" name="name" value="<%= author.name %>">
<!--a partial file, not an actual file rendered from the server, this file is used inside new.ejs file-->
<!--name => how the server gets the data from the object sent via the form  (body.name)
value => the current author name, feed the input with the value, with 'author.name>'' read it as html-->